body {
    background-color: grey;
    font-size: 2rem;
}
.buttons {
    background-color: grey;
    border: none;
    font-size: 25px;
    padding-right: 50px;
    padding-top: 50px;
    padding-left: 50px;
    font-family: 'Courier New', Courier, monospace;
}
.button-area {
    display: flex;
    justify-content: center;
}
.buttons:hover {
    font-size: 40px;
}
.result {
    text-align: center;
    padding-top: 10%;
}
.choice {
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 5rem;
}
.rstbtn {
    background-color: grey;
    border: none;
    font-size: 25px;
}